<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <appSettings>
    <!--unfortunately .config files require encoding xml values unlike in the real Azure Configuration Setting-->
    <add key="NLog.Config.Azure" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot; ?&gt;&lt;nlog throwExceptions=&quot;true&quot; &gt;&lt;extensions&gt;&lt;add assembly=&quot;NLog.Targets.Syslog&quot; /&gt;&lt;/extensions&gt;&lt;targets&gt;&lt;target name=&quot;syslog&quot; type=&quot;Syslog&quot; syslogserver=&quot;logs.papertrailapp.com&quot; port=&quot;28381&quot; facility=&quot;Local7&quot;/&gt;&lt;/targets&gt;&lt;rules&gt;&lt;logger name=&quot;*&quot; minLevel=&quot;Trace&quot; appendTo=&quot;syslog&quot;/&gt;&lt;/rules&gt;&lt;/nlog&gt;" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>